<!DOCTYPE html>

<html lang="eng">
<head>
    <title>Contacts table</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="index.js" defer></script>
</head>
<body>

<div class="container">
    <form id="contactForm">
        <label for="firstName"></label><input type="text" id="firstName" placeholder="First name">
        <label for="lastName"></label><input type="text" id="lastName" placeholder="Last name">
        <label for="phoneNumber"></label><input type="text" id="phoneNumber" placeholder="Phone number">
        <button type="button" id="addButton">Add</button>
    </form>
    <ul id="contactList"></ul>
</div>

</body>
</html>